.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 16px);
    .button-wrap {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}